<?xml version="1.0" encoding="UTF-8"?>
<beans     xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="iac"  class="com.nt.beans.IntrAmountCalculator">
      <replaced-method name="calcSimpleIntrAmount"  replacer="csirmr">
         <arg-type >float</arg-type>
         <arg-type >float</arg-type>
      </replaced-method>
  </bean>
   
   <bean id="csirmr"  class="com.nt.beans.CalcSimpleIntrAmountMethodReplacer">
       <constructor-arg  value="1.0"/>
   </bean>
   
</beans>