<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

 <!-- Dependent Beans -->
  <bean id="dtdc"  class="com.nt.beans.DTDC"/>
  <bean id="bDart"  class="com.nt.beans.BlueDart"/>
  
  <!-- Main Bean/Target Bean -->
  <bean id="fpkt"  class="com.nt.beans.Flipkart">
     <!-- <property name="dtdc"   ref="dtdc"/> -->
     <property name="blueDart"  ref="bDart"/>
  </bean>


</beans>