<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- Dependent bean cfg -->
        <bean id="dt"  class="java.util.Date" />
        
        <!-- Target bean  Cfg -->
        <bean id="wish"  class="com.nt.beans.WishGenerator">
          <!-- setter injection cfg -->
            <property name="date1"  ref="dt"/> 
        </bean>
        

</beans>        