<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="drds"  class="org.springframework.jdbc.datasource.DriverManagerDataSource"  abstract="true">
      <property name="driverClassName"  value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql:///ntsp79db"/>
     <!--   <property name="username"  value="root"/>
      <property name="password" value="root"/>  -->
       <property name="connectionProperties">
           <props>
              <prop key="user">root</prop>
             <!--  <prop key="password">root</prop> -->
           </props> 
        </property>
  </bean>
  <bean id="scds"  class="org.springframework.jdbc.datasource.SingleConnectionDataSource" parent="drds">
         <property name="connectionProperties">
            <props merge="true">
                <prop key="password">root</prop>
            </props>
         </property>
    </bean>
  
  
  <bean id="empDAO"  class="com.nt.dao.EmployeeDAOImpl">
     <property name="ds" ref="scds"/>
  </bean>
  
  <bean id="empService"   class="com.nt.service.EmployeeServiceImpl">
       <property name="dao"  ref="empDAO"/>
  </bean>
  
  <bean id="empController"   class="com.nt.controller.EmployeeController">
       <property name="service" ref="empService"/>
  </bean>
  
  

  
</beans>