<?xml version="1.0" encoding="UTF-8"?>
<beans default-dependency-check="all" xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   <bean id="cellNo"  class="com.nt.beans.MobileNumber"  dependency-check="none">
      <property name="mobileNo" value="999999999"/>
      <!-- <property name="provider" value="jio"/> -->
      <property name="payType" value="prepaid"/>
   </bean>  
   
   <bean id="per"  class="com.nt.beans.Person" dependency-check="none"  >
       <!-- <property name="personId"  value="1001"/> -->
       <property name="personName"  value="raja"/>
       <property name="mobile"  ref="cellNo"/>
   </bean>
   

</beans>
