<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

   <!-- Factory Bean -->
   <bean id="dfb"  class="com.nt.factorybean.DateFactoryBean">
      <constructor-arg value="2018"/>
      <constructor-arg value="03"/>
      <constructor-arg value="6"/>      
   </bean>
   
   <!-- target bean -->
   <bean id="remainder"  class="com.nt.beans.ScheduleRemainder">
        <constructor-arg  name="date"  ref="dfb"/>
   </bean>

</beans>
