<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="base1stYear"  class="com.nt.beans.EngineeringCourse" abstract="true">
      <property name="subjects">
         <list>
                  <value>M1</value>
                  <value>C</value>
                  <value>Physics</value>
               </list>
      </property>
  </bean>
   <bean id="EC1stYear" class="com.nt.beans.EngineeringCourse"  parent="base1stYear">
           <property name="subjects">
                  <list  merge="true">
                     <value> EDC </value>
                     <value> BE </value>
                </list>
          </property>
   </bean>

</beans>