<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
		
   <!-- Cfg target class -->
     <bean id="iac"  class="com.nt.service.IntrestAmountCalculator"/>
    <!-- Cfg Advice class -->
    <bean id="pmAdvice"  class="com.nt.aspect.PerformanceMonitoringAdvice"/>
    <bean id="cacheAdvice"  class="com.nt.aspect.CachingAdvice"/>
    <bean id="logAdvice"  class="com.nt.aspect.LogAroundAdvice"/>
     <!-- Enable AspectJAOP cfgs -->
      <aop:config>
       <!-- static poincuts using OGNL -->
      <aop:pointcut  id="ptc1" expression="execution(float  com.nt.service.IntrestAmountCalculatorInterface.calcCompoundIntrAmount(..))"/>
      <aop:pointcut  id="ptc2" expression="execution(*  com.nt.service.IntrestAmountCalculatorInterface.*(..))"/>
       <aop:pointcut  id="ptc3" expression="execution(*  com.nt.service.IntrestAmountCalculatorInterface.*(..))"/> 

     <!-- Make AdviceSprong as AspectJ ADvice/Aspect -->
      
      <aop:aspect  id="pmAspect" ref="pmAdvice" order="2" >
          <aop:around method="monitor"  pointcut-ref="ptc1"/>
      </aop:aspect>
      <aop:aspect id="cacheAspect"  ref="cacheAdvice"  order="1">
           <aop:around method="caching"  pointcut-ref="ptc2"/>
      </aop:aspect>
      <aop:aspect  id="logAspect"  ref="logAdvice" order="3">
             <aop:around method="logging"  pointcut-ref="ptc3"/>
       </aop:aspect>
      
     
    </aop:config>
       

</beans>
