<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- cfg replacer  -->
   <bean id="mr"  class="com.nt.replacer.IntrRateReplacer">
      <property name="rate" value="0.40"/>
   </bean>
   
   <bean id="bank"   class="com.nt.beans.Bank">
     <replaced-method name="calcIntrAmt" replacer="mr">
         <arg-type>float</arg-type>
         <arg-type>float</arg-type>
     </replaced-method>  
   </bean>
  
</beans>