<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
   <bean id="pi"  class="com.nt.beans.PersonInfo">
        <constructor-arg  value="0"/>
        <constructor-arg  value="raja"/>
        <constructor-arg  value=""></constructor-arg>
        <constructor-arg><null/></constructor-arg>
   </bean>


</beans>