<?xml version="1.0" encoding="UTF-8"?>
<beans default-init-method="myInit1" default-destroy-method="myDestroy1" 
    xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 <bean id="cve"  class="com.nt.beans.CheckVotingElgibility"  init-method="myInit"  destroy-method="myDestroy" >
     <property name="name"  value="raja"/> 
    <property name="age"  value="20"/>
    <property name="addrs"  value="hyd"/>
 </bean>
  
</beans>