<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
 <!-- static factory method bean instantiation  -->
   <bean id="cz"  class="java.lang.Class" factory-method="forName">
      <constructor-arg value="java.util.Date"/>
   </bean>
   <bean id="cal"  class="java.util.Calendar"  factory-method="getInstance"/>
 <!-- instance  factory method bean instantiation  -->
  <bean id="s1"  class="java.lang.String">
     <constructor-arg value="hello how are u"/>
  </bean>
  <bean id="s2"   factory-bean="s1"  factory-method="concat">
       <constructor-arg value="? yaar"/>
  </bean>
  
  <bean id="sb"  class="java.lang.StringBuffer">
     <constructor-arg value="Ameerpet , java, Nareshit, rotiwala,amoga"/>
  </bean>
  <bean id="s3"   factory-bean="sb"  class="java.lang.String"  factory-method="substring">
      <constructor-arg value="0"/>
      <constructor-arg value="8"/>
  </bean>

</beans>
